/*.nav-link {
    color: white !important;
    font-family: 'Karla', sans-serif !important;
}*/
h2 {
    font-family: 'Karla', sans-serif;

}
h1 {
    color: black;
    font-family: 'Karla', sans-serif;
    position: absolute;
    /*left: 276px;*/
    left: 20vw;
    bottom: 55vh;
}

.page {
    font-family: 'Lora', serif;
    text-align: center;
    font-size: 36px;
}
.page2 {
    font-family: 'Karla', sans-serif;
    font-size: 24px;
    text-align: center;
    color: black;
}


/*BLOSSOMS*/
img#blossomtree {
    height: 50vh;
    position: relative;
    margin-left: 55vw;
    margin-top: 3vh;
    /*margin-bottom: 100px;*/
}
img#leaf1 {
    height: 2vh;
    position: relative;
    margin-left: 60vw;
}
img#leaf2 {
    height: 2vh;
    position: relative;
    bottom: 15vh;
    right: 8vw;
}
img#leaf3 {
    height: 2vh;
    position: relative;
    right: 18vw;
}
img#leaf4 {
    height: 1vh;
    position: relative;
    right: 40vw;
    top: 6vh;
}
img#leaf5 {
    height: 2vh;
    position: relative;
    right: 60vw;
    top: 35vh;
    z-index: -1;
}


/* ACCORDION SECTION */

.accordion {
    max-width: 1000px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden;
    font-family: Karla, sans-serif;
    background: #612744;
    /*margin-left: 225px;*/
    margin: auto;
    z-index: 1;
    width: 80vw;
}
  
.accordion__label, .accordion__content {
    padding: 14px 20px;
}
  
.accordion__label {
    display: block;
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    transition: 0.1s;
    /*margin-right: 2vw;*/
    border-bottom: 0.125rem solid white;
}
  
.accordion__label:hover {
    background: rgba(0, 0, 0, 0.1);
}
  

.accordion__label::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    width: 12px;
    height: 6px;
    background-image: url('data:image/svg+xml;utf8,<svg width="100" height="50" xmlns="http://www.w3.org/2000/svg"><polygon points="0,0 100,0 50,50" style="fill:%23FFFFFF99;" /></svg>');
    background-size: contain;
    transition: transform 0.4s;
}
  
.accordion__content {
    background: #ffffff;
    line-height: 1.6;
    font-size: 16px;
    display: none;
}
  
.accordion__input {
    display: none;
}
  
.accordion__input:checked ~ .accordion__content {
   display: block;
}
  
.accordion__input:checked ~ .accordion__label::after {
   transform: translateY(-50%) rotate(0.5turn);
}


/*****************************************/
/**************HEADER STYLE***************/
/*****************************************/
.nav-link {
    color: rgb(0, 0, 0) !important;
    font-family: 'Karla', sans-serif !important;
}
.navbar .dropdown-menu {
    background-color: #387EA5;
  }
  
  .navbar .dropdown-item:hover {
      background-color: #2B6180;
      color: rgb(255, 255, 255);
    }
  .navbar .dropdown-item {
      color: rgb(255, 255, 255);
      font-family: 'Karla', sans-serif;
  }


a.nav-link{
    font-family: 'Karla', sans-serif;
    font-size: 18px;
}
a.dropdown-item{
    font-size: 18px;
}

.navbar .left{
    display: flex;
    flex-direction: row;
    align-items: center;
}
#logo{
    height: 7vh;
    margin: 2vh 1vw 2vh 1vw;
}
.container-fluid{
    display: block;
    position: sticky;
    top: 0;
    z-index: 20;
}
/*****************************************/
/**************FOOTER STYLE***************/
/*****************************************/
body {
    overflow-x: hidden;
}

.constant {
    font-family: 'Karla', sans-serif;
}
.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}
.footer .top{
    display: flex;
    flex-direction: row;
    padding: 10vh 10vw 10vh 10vw;
    background: #3B3B3B;
}
.footer .top p, h3{
    color:white;
}
.footer .bottom{
    padding-bottom: 5vh;
    padding-top: 5vh;
}
.footer img{
    height:5vh;
}
img.ocf{
    height:8vh;
}

.footer .left, .footer .mid, .footer .right{
    margin: 0vh 5vw 0vh 5vw;
    text-align: center;
}

.footer .left, .footer .right{
    text-align: left;
}

.footer .left{
    white-space: nowrap;
}

.footer .left p{
    margin:0;
}

img.ocf, .footer h3{
    padding-bottom:2vh;
}

.socials{
    display: flex;
    justify-content: space-evenly;
}

img.ocf{
    margin-left:0vw;
}

.footer a{
    text-decoration: none;
}